---
# Data Handling in Python
---
Python is commonly used as the go-to tool for data analysis, especially on larger datasets. Python has many tools and packages available that allow users to gain insights into their data in an efficient manner. In order to use Python for data analysis, we have to learn about the main data handling package, which is the pandas package.

pandas is a Python package providing data structures designed to make working with “relational” or “labeled” data simple. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. This lesson will completely focused on thepandas package and understanding the different capabilities and functions that are available to users to assist with data analysis. The lesson will be broken down into 4 parts:
1. pandas Basics
2. Reading in Data from External Sources
3. Working with pandas Dataframes
4. Summary Statistics and Numeric Functions in pandas

Additionally, users will be exposed to a typical EY use case in which the skills learned through the lesson can be applied to your engagement. Users will develop code to assist with profiling data sets, a common task for data-driven engagements at EY.

Overall, this lesson aims to provide users with the knowledge of the fundamental commands that they will need to work with data in Python. Knowledge of the pandas package is the foundation for performing data analysis in Python.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: python-dateutil>=2 in c:\programdata\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2->pandas)

You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

---
## Pandas Basics
---
In order to use the Pandas package, you will need to import it at the beginning of your script. In the following code, we import the Pandas package and provide it with an alias, "pd", which will be used to reference the package in the remainder of the script.

In [2]:
import pandas as pd

Once the Pandas package has been imported, you are ready to use the functions from this package. First we will demonstrate how to create a Pandas dataframe, and fill it with the numbers 1 through 5.

In [3]:
list = [1,2,3,4,5]
print("Original data type: %s" % (type(list)))

Original data type: <class 'list'>

Now that we have created a simple list in python, we can convert this data structure to a Pandas dataframe using the Pandas.DataFrame() function. We see that the data type has changed from a list to a Pandas dataframe.

In [4]:
#Converting existing list to a Pandas dataframe
pandas_list = pd.DataFrame(list)
print("New data type: %s" % (type(pandas_list)))

New data type: <class 'pandas.core.frame.DataFrame'>

Below is an example of converting a two-dimensional list to a Pandas dataframe:

In [5]:
list_2d = [('Jack', 1, 'NY'), ('Sally', 2, 'CA'), ('Chris', 3, 'FL')]
pandas_list_2d = pd.DataFrame(list_2d)
print(pandas_list_2d)

       0  1   2
0   Jack  1  NY
1  Sally  2  CA
2  Chris  3  FL

We can reference columns and rows from the Pandas dataframe using indexing. There are two primary functions that can be used to locate records in a pandas dataframe. The first function, the .iloc() function, uses integers to represent rows and columns. The ':' operator can be used to 'select all'. For example, the next instruction prints the first row of data in the pandas dataframe.<br/>
<b>(Note: Indexes in pandas dataframes begin at 0)<b/>

In [6]:
#Access first row
print(pandas_list_2d.iloc[[0]])

      0  1   2
0  Jack  1  NY

Use .iloc() to pull a column of data.

In [7]:
#Access first column
print(pandas_list_2d.iloc[:, 0])

0     Jack
1    Sally
2    Chris
Name: 0, dtype: object

Additionally, we may want to disply the first n rows of our pandas dataframe. We can use the .head(n) function to print out the first n rows of our dataframe.

In [8]:
#Print first 2 rows
print(pandas_list_2d.head(2))

       0  1   2
0   Jack  1  NY
1  Sally  2  CA

You may have noticed that the column identifiers of '0' and '1' in the dataframe above are not very prescriptive. Luckily, the pandas package provides us with a method of renaming columns using the .rename() function, which can be seen below. In the next instruction, we rename the columns of our dataframe to 'Name', 'ID' and 'State':

In [9]:
#Rename column
pandas_list_2d_rename = pandas_list_2d.rename(columns={0 : 'Name', 1: 'ID', 2 : 'State'})
print(pandas_list_2d_rename)

    Name  ID State
0   Jack   1    NY
1  Sally   2    CA
2  Chris   3    FL

Now that we have appropriate names for our columns, we can epxlore the second indexing function from the pandas package. The .loc() function relies on the actual row and column identifiers to reference certain records in the pandas dataframe. Below, we are pulling the values from the 'Name' column for all rows:

In [10]:
#Reference columns by new names
print(pandas_list_2d_rename.loc[:, 'Name'])

0     Jack
1    Sally
2    Chris
Name: Name, dtype: object

Another useful trick is how to create a new pandas dataframe using columns from an existing pandas dataframe. By using double brackets, we can select columns from a pandas dataframe and assign it to a new variable.

In [11]:
#Select the Name and State columns using double brackets
new_pandas = pandas_list_2d_rename[['Name', 'State']]
print(new_pandas)

    Name State
0   Jack    NY
1  Sally    CA
2  Chris    FL

At this point, we have manually filled our pandas dataframes in python. However, a much more practical data source is an excel or csv file. Luckily, pandas provides us the tools to read in data from these file formats.

---
## Reading in Data from External Sources
---
When python is required for data analysis, it is often because there are large amounts of data that need to be analyzed. In order to process these large datasets, pandas provides us with tools to read in data from excel files, csv files, and directly from database connections. 

First, we will show you how to read in data from an excel file. We will be reading in the customer orders data which is found on the 'Orders' sheet in the 'Superstore.xlsx' file:<br/>
<b>(Note: Column names from th excel are automatically recognized by the pandas dataframe)<b/>

In [12]:
excel_data = pd.read_excel("Superstore.xlsx", sheet_name = 'Orders')
print(excel_data)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
5          6  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
6          7  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
7          8  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
8          9  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
9         10  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
10        11  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
11        12  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
12        13  CA-2017-114412 2017-04-15 2017-04-20  Standard Class
13        14  CA-2016-161389 2016-12-05 2016-12-10  Standard Class
14        15  US-2015-118983 2015-11-22 2015-11-26  Standard Class
15        16  US-2015-118983 2015-11-22 2015-11-26  Standard Class
16        17  CA-2014-105893 2014-11-11 2014-11-18  Standard Class
17        18  CA-2014-167164 2014-05-13 2014-05-15    Second Class
18        19  CA-2014-143336 2014-08-27 2014-09-01    Second Class
19        20  CA-2014-143336 2014-08-27 2014-09-01    Second Class
20        21  CA-2014-143336 2014-08-27 2014-09-01    Second Class
21        22  CA-2016-137330 2016-12-09 2016-12-13  Standard Class
22        23  CA-2016-137330 2016-12-09 2016-12-13  Standard Class
23        24  US-2017-156909 2017-07-16 2017-07-18    Second Class
24        25  CA-2015-106320 2015-09-25 2015-09-30  Standard Class
25        26  CA-2016-121755 2016-01-16 2016-01-20    Second Class
26        27  CA-2016-121755 2016-01-16 2016-01-20    Second Class
27        28  US-2015-150630 2015-09-17 2015-09-21  Standard Class
28        29  US-2015-150630 2015-09-17 2015-09-21  Standard Class
29        30  US-2015-150630 2015-09-17 2015-09-21  Standard Class
...      ...             ...        ...        ...             ...
9964    9965  CA-2016-146374 2016-12-05 2016-12-10    Second Class
9965    9966  CA-2016-146374 2016-12-05 2016-12-10    Second Class
9966    9967  CA-2016-146374 2016-12-05 2016-12-10    Second Class
9967    9968  CA-2017-153871 2017-12-11 2017-12-17  Standard Class
9968    9969  CA-2017-153871 2017-12-11 2017-12-17  Standard Class
9969    9970  CA-2017-153871 2017-12-11 2017-12-17  Standard Class
9970    9971  CA-2015-103772 2015-06-28 2015-07-02  Standard Class
9971    9972  CA-2015-103772 2015-06-28 2015-07-02  Standard Class
9972    9973  CA-2016-130225 2016-09-11 2016-09-17  Standard Class
9973    9974  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9974    9975  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9975    9976  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9976    9977  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9977    9978  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9978    9979  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9979    9980  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9980    9981  US-2015-151435 2015-09-06 2015-09-09    Second Class
9981    9982  CA-2017-163566 2017-08-03 2017-08-06     First Class
9982    9983  US-2016-157728 2016-09-22 2016-09-28  Standard Class
9983    9984  US-2016-157728 2016-09-22 2016-09-28  Standard Class
9984    9985  CA-2015-100251 2015-05-17 2015-05-23  Standard Class
9985    9986  CA-2015-100251 2015-05-17 2015-05-23  Standard Class
9986    9987  CA-2016-125794 2016-09-29 2016-10-03  Standard Class
9987    9988  CA-2017-163629 2017-11-17 2017-11-21  Standard Class
9988    9989  CA-2017-163629 2017-11-17 2017-11-21  Standard Class
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID  Customer Name      Segment        Country             City  \
0       CG-12520            NaN     Consumer  United States        Henderson
1       CG-12520            NaN     Consumer  United States        Henderson
2       DV-13045            NaN    Corporate  United States      Los Angeles
3       SO-20335            NaN     Consumer  United States  Fort Lauderdale
4       SO-20335            NaN     Consumer  United States  Fort Lauderdale
5       BH-11710            NaN     Consumer  United States      Los Angeles
6       BH-11710            NaN     Consumer  United States      Los Angeles
7       BH-11710            NaN     Consumer  United States      Los Angeles
8       BH-11710            NaN     Consumer  United States      Los Angeles
9       BH-11710            NaN     Consumer  United States      Los Angeles
10      BH-11710            NaN     Consumer  United States      Los Angeles
11      BH-11710            NaN     Consumer  United States      Los Angeles
12      AA-10480            NaN     Consumer  United States          Concord
13      IM-15070            NaN     Consumer  United States          Seattle
14      HP-14815            NaN  Home Office  United States       Fort Worth
15      HP-14815            NaN  Home Office  United States       Fort Worth
16      PK-19075            NaN     Consumer  United States          Madison
17      AG-10270            NaN     Consumer  United States      West Jordan
18      ZD-21925            NaN     Consumer  United States    San Francisco
19      ZD-21925            NaN     Consumer  United States    San Francisco
20      ZD-21925            NaN     Consumer  United States    San Francisco
21      KB-16585            NaN    Corporate  United States          Fremont
22      KB-16585            NaN    Corporate  United States          Fremont
23      SF-20065            NaN     Consumer  United States     Philadelphia
24      EB-13870            NaN     Consumer  United States             Orem
25      EH-13945            NaN     Consumer  United States      Los Angeles
26      EH-13945            NaN     Consumer  United States      Los Angeles
27      TB-21520            NaN     Consumer  United States     Philadelphia
28      TB-21520            NaN     Consumer  United States     Philadelphia
29      TB-21520            NaN     Consumer  United States     Philadelphia
...          ...            ...          ...            ...              ...
9964    HE-14800            NaN    Corporate  United States           Newark
9965    HE-14800            NaN    Corporate  United States           Newark
9966    HE-14800            NaN    Corporate  United States           Newark
9967    RB-19435            NaN     Consumer  United States       Plainfield
9968    RB-19435            NaN     Consumer  United States       Plainfield
9969    RB-19435            NaN     Consumer  United States       Plainfield
9970    MP-17470            NaN  Home Office  United States           Smyrna
9971    MP-17470            NaN  Home Office  United States           Smyrna
9972    RC-19960            NaN     Consumer  United States          Houston
9973    AP-10720            NaN  Home Office  United States      Los Angeles
9974    AP-10720            NaN  Home Office  United States      Los Angeles
9975    AP-10720            NaN  Home Office  United States      Los Angeles
9976    AP-10720            NaN  Home Office  United States      Los Angeles
9977    AP-10720            NaN  Home Office  United States      Los Angeles
9978    AP-10720            NaN  Home Office  United States      Los Angeles
9979    AP-10720            NaN  Home Office  United States      Los Angeles
9980    SW-20455            NaN     Consumer  United States        Lafayette
9981    TB-21055            NaN     Consumer  United States        Fairfield
9982    RC-19960            NaN     Consumer  United States     Grand Rapids
9983    RC-19960            NaN     Consumer  United States     Grand Rapids
9984    DV-13465            NaN     Consumer  United States       Long Beach
9985    DV-13465            NaN     Consumer  United States       Long Beach
9986    ML-17410            NaN     Consumer  United States      Los Angeles
9987    RA-19885            NaN    Corporate  United States           Athens
9988    RA-19885            NaN    Corporate  United States           Athens
9989    TB-21400            NaN     Consumer  United States            Miami
9990    DB-13060            NaN     Consumer  United States       Costa Mesa
9991    DB-13060            NaN     Consumer  United States       Costa Mesa
9992    DB-13060            NaN     Consumer  United States       Costa Mesa
9993    CC-12220            NaN     Consumer  United States      Westminster

        ...     Postal Code   Region       Product ID         Category  \
0       ...           42420    South  FUR-BO-10001798        Furniture
1       ...           42420    South  FUR-CH-10000454        Furniture
2       ...           90036     West  OFF-LA-10000240  Office Supplies
3       ...           33311    South  FUR-TA-10000577        Furniture
4       ...           33311    South  OFF-ST-10000760  Office Supplies
5       ...           90032     West  FUR-FU-10001487        Furniture
6       ...           90032     West  OFF-AR-10002833  Office Supplies
7       ...           90032     West  TEC-PH-10002275       Technology
8       ...           90032     West  OFF-BI-10003910  Office Supplies
9       ...           90032     West  OFF-AP-10002892  Office Supplies
10      ...           90032     West  FUR-TA-10001539        Furniture
11      ...           90032     West  TEC-PH-10002033       Technology
12      ...           28027    South  OFF-PA-10002365  Office Supplies
13      ...           98103     West  OFF-BI-10003656  Office Supplies
14      ...           76106  Central  OFF-AP-10002311  Office Supplies
15      ...           76106  Central  OFF-BI-10000756  Office Supplies
16      ...           53711  Central  OFF-ST-10004186  Office Supplies
17      ...           84084     West  OFF-ST-10000107  Office Supplies
18      ...           94109     West  OFF-AR-10003056  Office Supplies
19      ...           94109     West  TEC-PH-10001949       Technology
20      ...           94109     West  OFF-BI-10002215  Office Supplies
21      ...           68025  Central  OFF-AR-10000246  Office Supplies
22      ...           68025  Central  OFF-AP-10001492  Office Supplies
23      ...           19140     East  FUR-CH-10002774        Furniture
24      ...           84057     West  FUR-TA-10000577        Furniture
25      ...           90049     West  OFF-BI-10001634  Office Supplies
26      ...           90049     West  TEC-AC-10003027       Technology
27      ...           19140     East  FUR-BO-10004834        Furniture
28      ...           19140     East  OFF-BI-10000474  Office Supplies
29      ...           19140     East  FUR-FU-10004848        Furniture
...     ...             ...      ...              ...              ...
9964    ...           19711     East  FUR-FU-10002671        Furniture
9965    ...           19711     East  OFF-PA-10000349  Office Supplies
9966    ...           19711     East  OFF-EN-10004483  Office Supplies
9967    ...            7060     East  OFF-BI-10004209  Office Supplies
9968    ...            7060     East  OFF-BI-10004600  Office Supplies
9969    ...            7060     East  OFF-AP-10003622  Office Supplies
9970    ...           30080    South  OFF-BI-10002867  Office Supplies
9971    ...           30080    South  OFF-AR-10000538  Office Supplies
9972    ...           77041  Central  OFF-EN-10000056  Office Supplies
9973    ...           90032     West  TEC-PH-10004080       Technology
9974    ...           90032     West  OFF-AR-10004752  Office Supplies
9975    ...           90032     West  OFF-PA-10000743  Office Supplies
9976    ...           90032     West  TEC-PH-10002496       Technology
9977    ...           90032     West  OFF-FA-10003467  Office Supplies
9978    ...           90032     West  OFF-BI-10003727  Office Supplies
9979    ...           90032     West  OFF-BI-10002026  Office Supplies
9980    ...           70506    South  FUR-TA-10001039        Furniture
9981    ...           45014     East  OFF-LA-10004484  Office Supplies
9982    ...           49505  Central  OFF-PA-10002195  Office Supplies
9983    ...           49505  Central  TEC-PH-10001305       Technology
9984    ...           11561     East  OFF-LA-10003766  Office Supplies
9985    ...           11561     East  OFF-SU-10000898  Office Supplies
9986    ...           90008     West  TEC-AC-10003399       Technology
9987    ...           30605    South  TEC-AC-10001539       Technology
9988    ...           30605    South  TEC-PH-10004006       Technology
9989    ...           33180    South  FUR-FU-10001889        Furniture
9990    ...           92627     West  FUR-FU-10000747        Furniture
9991    ...           92627     West  TEC-PH-10003645       Technology
9992    ...           92627     West  OFF-PA-10004041  Office Supplies
9993    ...           92683     West  OFF-AP-10002684  Office Supplies

     Sub-Category                                       Product Name  \
0       Bookcases                  Bush Somerset Collection Bookcase
1          Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2          Labels  Self-Adhesive Address Labels for Typewriters b...
3          Tables      Bretford CR4500 Series Slim Rectangular Table
4         Storage                     Eldon Fold 'N Roll Cart System
5     Furnishings  Eldon Expressions Wood and Plastic Desk Access...
6             Art                                         Newell 322
7          Phones                     Mitel 5320 IP Phone VoIP phone
8         Binders  DXL Angle-View Binders with Locking Rings by S...
9      Appliances                   Belkin F5C206VTEL 6 Outlet Surge
10         Tables           Chromcraft Rectangular Conference Tables
11         Phones      Konftel 250 Conference phone - Charcoal black
12          Paper                                         Xerox 1967
13        Binders        Fellowes PB200 Plastic Comb Binding Machine
14     Appliances  Holmes Replacement Filter for HEPA Air Cleaner...
15        Binders   Storex DuraTech Recycled Plastic Frosted Binders
16        Storage  Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x...
17        Storage                         Fellowes Super Stor/Drawer
18            Art                                         Newell 341
19         Phones                            Cisco SPA 501G IP Phone
20        Binders        Wilson Jones Hanging View Binder, White, 1"
21            Art                                         Newell 318
22     Appliances        Acco Six-Outlet Power Strip, 4' Cord Length
23         Chairs                 Global Deluxe Stacking Chair, Gray
24         Tables      Bretford CR4500 Series Slim Rectangular Table
25        Binders                    Wilson Jones Active Use Binders
26    Accessories   Imation 8GB Mini TravelDrive USB 2.0 Flash Drive
27      Bookcases  Riverside Palais Royal Lawyers Bookcase, Royal...
28        Binders  Avery Recycled Flexi-View Covers for Binding S...
29    Furnishings  Howard Miller 13-3/4" Diameter Brushed Chrome ...
...           ...                                                ...
9964  Furnishings  Electrix 20W Halogen Replacement Bulb for Zoom...
9965        Paper                                  Easy-staple paper
9966    Envelopes         #10 White Business Envelopes,4 1/8 x 9 1/2
9967      Binders            Fellowes Twister Kit, Gray/Clear, 3/pkg
9968      Binders          Ibico Ibimaster 300 Manual Binding System
9969   Appliances  Bravo II Megaboss 12-Amp Hard Body Upright, Re...
9970      Binders            GBC Recycled Regency Composition Covers
9971          Art  Boston Model 1800 Electric Pencil Sharpener, Gray
9972    Envelopes                        Cameo Buff Policy Envelopes
9973       Phones                           Avaya 5410 Digital phone
9974          Art                               Blackstonian Pencils
9975        Paper                                         Xerox 1977
9976       Phones                                       Cisco SPA301
9977    Fasteners           Alliance Big Bands Rubber Bands, 12/Pack
9978      Binders  Avery Durable Slant Ring Binders With Label Ho...
9979      Binders                  Ibico Recycled Linen-Style Covers
9980       Tables                         KI Adjustable-Height Table
9981       Labels                                          Avery 476
9982        Paper  RSVP Cards & Envelopes, Blank White, 8-1/2" X ...
9983       Phones                   Panasonic KX TS208W Corded phone
9984       Labels                     Self-Adhesive Removable Labels
9985     Supplies  Acme Hot Forged Carbon Steel Scissors with Nic...
9986  Accessories  Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...
9987  Accessories  Logitech G430 Surround Sound Gaming Headset wi...
9988       Phones                    Panasonic KX - TS880B Telephone
9989  Furnishings                             Ultra Door Pull Handle
9990  Furnishings  Tenex B1-RE Series Chair Mats for Low Pile Car...
9991       Phones                              Aastra 57i VoIP phone
9992        Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"
9993   Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...

          Sales  Quantitie  Discount     Profit
0      261.9600        2.0      0.00    41.9136
1      731.9400        3.0      0.00   219.5820
2       14.6200        2.0      0.00     6.8714
3      957.5775        5.0      0.45  -383.0310
4       22.3680        2.0      0.20     2.5164
5       48.8600        7.0      0.00    14.1694
6        7.2800        4.0      0.00     1.9656
7      907.1520        6.0      0.20    90.7152
8       18.5040        3.0      0.20     5.7825
9      114.9000        5.0      0.00    34.4700
10    1706.1840        9.0      0.20    85.3092
11     911.4240        4.0      0.20    68.3568
12      15.5520        3.0      0.20     5.4432
13          NaN        3.0      0.20   132.5922
14      68.8100        5.0      0.80  -123.8580
15       2.5440        3.0      0.80    -3.8160
16     665.8800        6.0       NaN    13.3176
17      55.5000        2.0      0.00     9.9900
18       8.5600        2.0      0.00     2.4824
19     213.4800        NaN      0.20    16.0110
20      22.7200        4.0      0.20     7.3840
21      19.4600        7.0      0.00     5.0596
22      60.3400        7.0      0.00    15.6884
23      71.3720        2.0      0.30    -1.0196
24    1044.6300        NaN      0.00        NaN
25      11.6480        2.0      0.20     4.2224
26      90.5700        3.0      0.00    11.7741
27    3083.4300        7.0      0.50 -1665.0522
28       9.6180        2.0      0.70    -7.0532
29     124.2000        3.0      0.20    15.5250
...         ...        ...       ...        ...
9964    13.4000        1.0      0.00     6.4320
9965     4.9800        1.0      0.00     2.3406
9966   109.6900        7.0      0.00    51.5543
9967    40.2000        5.0      0.00    18.0900
9968   735.9800        2.0      0.00   331.1910
9969    22.7500        7.0      0.00     6.5975
9970   119.5600        2.0      0.00    54.9976
9971   140.7500        5.0      0.00    42.2250
9972    99.5680        2.0      0.20    33.6042
9973   271.9600        5.0      0.20    27.1960
9974    18.6900        7.0      0.00     5.2332
9975    13.3600        2.0      0.00     6.4128
9976   249.5840        2.0      0.20    31.1980
9977    13.8600        7.0      0.00     0.0000
9978    13.3760        4.0      0.20     4.6816
9979   437.4720       14.0      0.20   153.1152
9980    85.9800        1.0      0.00    22.3548

Pandas has specific functions for reading in data from a csv. Here we are reading in the data regarding order returns which has been saved as a csv file:

In [13]:
csv_data = pd.read_csv("Returns.csv")
print(csv_data)

    Returned        Order ID
0        Yes  CA-2017-153822
1        Yes  CA-2017-129707
2        Yes  CA-2014-152345
3        Yes  CA-2015-156440
4        Yes  US-2017-155999
5        Yes  CA-2014-157924
6        Yes  CA-2017-131807
7        Yes  CA-2016-124527
8        Yes  CA-2017-135692
9        Yes  CA-2014-123225
10       Yes  CA-2017-145772
11       Yes  US-2014-105137
12       Yes  CA-2017-101805
13       Yes  CA-2016-111682
14       Yes  CA-2017-131492
15       Yes  CA-2015-104129
16       Yes  CA-2017-117926
17       Yes  US-2016-115952
18       Yes  CA-2015-155761
19       Yes  CA-2017-100111
20       Yes  CA-2014-156349
21       Yes  CA-2016-118899
22       Yes  CA-2017-108294
23       Yes  US-2017-123834
24       Yes  CA-2015-168480
25       Yes  CA-2017-122007
26       Yes  CA-2017-128965
27       Yes  CA-2015-169397
28       Yes  CA-2015-168564
29       Yes  CA-2014-102652
..       ...             ...
266      Yes  CA-2015-149650
267      Yes  CA-2014-100867
268      Yes  CA-2017-140186
269      Yes  CA-2017-156391
270      Yes  CA-2015-157770
271      Yes  CA-2017-140963
272      Yes  CA-2017-154949
273      Yes  CA-2016-166275
274      Yes  US-2014-143287
275      Yes  CA-2014-151162
276      Yes  US-2017-103828
277      Yes  CA-2014-143840
278      Yes  CA-2014-160773
279      Yes  CA-2017-111556
280      Yes  CA-2017-140585
281      Yes  CA-2014-103373
282      Yes  CA-2016-159023
283      Yes  CA-2016-145492
284      Yes  CA-2017-118122
285      Yes  CA-2014-116785
286      Yes  US-2014-164763
287      Yes  CA-2017-122504
288      Yes  CA-2017-150910
289      Yes  CA-2015-162166
290      Yes  US-2016-140172
291      Yes  CA-2015-101910
292      Yes  CA-2017-156958
293      Yes  CA-2016-105585
294      Yes  CA-2016-148796
295      Yes  CA-2015-149636

[296 rows x 2 columns]

---
## Working with Pandas Dataframes
---
Now that we have read in our source data, we can begin performing basic operaitons on the datasets. In this section, we will look at performing basic counts, joins, groupbys, and filtering. We will also look at how to change data types of certain columns in our pandas dataframes.

First, we show how to perform simple counts on pandas dataframes. We will be using the 'excel_data' datafrane we created in the previous section.

In [14]:
#Show the column name and data type for the column
print("Data Types: \n%s" % (excel_data.dtypes))

Data Types:
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name           float64
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantitie               float64
Discount                float64
Profit                  float64
dtype: object

Now that we can see all of our fields and their associcated data types, we can begin to perform more complex operations and analysis on our data. However, if we look at the data types of our fields, we notice that the data type for 'Postal Code' is an integer (int64). This may cause issues because zip codes can start with 0's, and may be truncated if the field is an integer. To prevent this from happening, we can manually change the data type of the 'Postal Code' field using the coe below:

In [15]:
#Change the data type of the 'Postal Code' field from an integer to an object
excel_data[['Postal Code']] = excel_data[['Postal Code']].astype(object)

#Show the column name and data type for the column
print("Data Types: \n%s" % (excel_data.dtypes))

Data Types:
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name           float64
Segment                  object
Country                  object
City                     object
State                    object
Postal Code              object
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantitie               float64
Discount                float64
Profit                  float64
dtype: object

We see that the 'Postal Code' field is an object, which is the string data type in python.

Next, we can begin performing simple counts on our dataframe to find the number of rows:

In [16]:
#Count of number of rows
print("Number of rows: %s" % (len(excel_data)))

Number of rows: 9994

and the number of columns:

In [17]:
#Count the number of columns
print("Number of columns: %s" % (len(excel_data.columns)))

Number of columns: 21

In the previous section, we read in two separate datasets. The first dataframe, excel_data, contained all of our sales data for a store. The second dataframe, csv_data, contained information on orders that were returned. For simplicity moving forward, let us rename these dataframes to more appropriate names.

In [18]:
#Assign excel_data and csv_data to new pandas dataframes.
sales_data = excel_data
returns_data = csv_data

As a store owner, it would be beneficial for us to know which orders were returned and to have that information stored in a single table. However, we do not to lose any of our sales that were not returned. Pandas allows us to join dataframes together using the .merge() function, much like we are able to do in SQL. If we observe our two dataframes, we see that the 'Order ID' column can be used as a key to join the two dataframes together. That operation and the result is shown below:

In [19]:
#Left join the sales_data to the returns_data on Order ID
combined_df = pd.merge(sales_data, returns_data, how = 'left', on = 'Order ID')
print(combined_df)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
5          6  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
6          7  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
7          8  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
8          9  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
9         10  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
10        11  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
11        12  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
12        13  CA-2017-114412 2017-04-15 2017-04-20  Standard Class
13        14  CA-2016-161389 2016-12-05 2016-12-10  Standard Class
14        15  US-2015-118983 2015-11-22 2015-11-26  Standard Class
15        16  US-2015-118983 2015-11-22 2015-11-26  Standard Class
16        17  CA-2014-105893 2014-11-11 2014-11-18  Standard Class
17        18  CA-2014-167164 2014-05-13 2014-05-15    Second Class
18        19  CA-2014-143336 2014-08-27 2014-09-01    Second Class
19        20  CA-2014-143336 2014-08-27 2014-09-01    Second Class
20        21  CA-2014-143336 2014-08-27 2014-09-01    Second Class
21        22  CA-2016-137330 2016-12-09 2016-12-13  Standard Class
22        23  CA-2016-137330 2016-12-09 2016-12-13  Standard Class
23        24  US-2017-156909 2017-07-16 2017-07-18    Second Class
24        25  CA-2015-106320 2015-09-25 2015-09-30  Standard Class
25        26  CA-2016-121755 2016-01-16 2016-01-20    Second Class
26        27  CA-2016-121755 2016-01-16 2016-01-20    Second Class
27        28  US-2015-150630 2015-09-17 2015-09-21  Standard Class
28        29  US-2015-150630 2015-09-17 2015-09-21  Standard Class
29        30  US-2015-150630 2015-09-17 2015-09-21  Standard Class
...      ...             ...        ...        ...             ...
9964    9965  CA-2016-146374 2016-12-05 2016-12-10    Second Class
9965    9966  CA-2016-146374 2016-12-05 2016-12-10    Second Class
9966    9967  CA-2016-146374 2016-12-05 2016-12-10    Second Class
9967    9968  CA-2017-153871 2017-12-11 2017-12-17  Standard Class
9968    9969  CA-2017-153871 2017-12-11 2017-12-17  Standard Class
9969    9970  CA-2017-153871 2017-12-11 2017-12-17  Standard Class
9970    9971  CA-2015-103772 2015-06-28 2015-07-02  Standard Class
9971    9972  CA-2015-103772 2015-06-28 2015-07-02  Standard Class
9972    9973  CA-2016-130225 2016-09-11 2016-09-17  Standard Class
9973    9974  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9974    9975  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9975    9976  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9976    9977  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9977    9978  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9978    9979  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9979    9980  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9980    9981  US-2015-151435 2015-09-06 2015-09-09    Second Class
9981    9982  CA-2017-163566 2017-08-03 2017-08-06     First Class
9982    9983  US-2016-157728 2016-09-22 2016-09-28  Standard Class
9983    9984  US-2016-157728 2016-09-22 2016-09-28  Standard Class
9984    9985  CA-2015-100251 2015-05-17 2015-05-23  Standard Class
9985    9986  CA-2015-100251 2015-05-17 2015-05-23  Standard Class
9986    9987  CA-2016-125794 2016-09-29 2016-10-03  Standard Class
9987    9988  CA-2017-163629 2017-11-17 2017-11-21  Standard Class
9988    9989  CA-2017-163629 2017-11-17 2017-11-21  Standard Class
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID  Customer Name      Segment        Country             City  \
0       CG-12520            NaN     Consumer  United States        Henderson
1       CG-12520            NaN     Consumer  United States        Henderson
2       DV-13045            NaN    Corporate  United States      Los Angeles
3       SO-20335            NaN     Consumer  United States  Fort Lauderdale
4       SO-20335            NaN     Consumer  United States  Fort Lauderdale
5       BH-11710            NaN     Consumer  United States      Los Angeles
6       BH-11710            NaN     Consumer  United States      Los Angeles
7       BH-11710            NaN     Consumer  United States      Los Angeles
8       BH-11710            NaN     Consumer  United States      Los Angeles
9       BH-11710            NaN     Consumer  United States      Los Angeles
10      BH-11710            NaN     Consumer  United States      Los Angeles
11      BH-11710            NaN     Consumer  United States      Los Angeles
12      AA-10480            NaN     Consumer  United States          Concord
13      IM-15070            NaN     Consumer  United States          Seattle
14      HP-14815            NaN  Home Office  United States       Fort Worth
15      HP-14815            NaN  Home Office  United States       Fort Worth
16      PK-19075            NaN     Consumer  United States          Madison
17      AG-10270            NaN     Consumer  United States      West Jordan
18      ZD-21925            NaN     Consumer  United States    San Francisco
19      ZD-21925            NaN     Consumer  United States    San Francisco
20      ZD-21925            NaN     Consumer  United States    San Francisco
21      KB-16585            NaN    Corporate  United States          Fremont
22      KB-16585            NaN    Corporate  United States          Fremont
23      SF-20065            NaN     Consumer  United States     Philadelphia
24      EB-13870            NaN     Consumer  United States             Orem
25      EH-13945            NaN     Consumer  United States      Los Angeles
26      EH-13945            NaN     Consumer  United States      Los Angeles
27      TB-21520            NaN     Consumer  United States     Philadelphia
28      TB-21520            NaN     Consumer  United States     Philadelphia
29      TB-21520            NaN     Consumer  United States     Philadelphia
...          ...            ...          ...            ...              ...
9964    HE-14800            NaN    Corporate  United States           Newark
9965    HE-14800            NaN    Corporate  United States           Newark
9966    HE-14800            NaN    Corporate  United States           Newark
9967    RB-19435            NaN     Consumer  United States       Plainfield
9968    RB-19435            NaN     Consumer  United States       Plainfield
9969    RB-19435            NaN     Consumer  United States       Plainfield
9970    MP-17470            NaN  Home Office  United States           Smyrna
9971    MP-17470            NaN  Home Office  United States           Smyrna
9972    RC-19960            NaN     Consumer  United States          Houston
9973    AP-10720            NaN  Home Office  United States      Los Angeles
9974    AP-10720            NaN  Home Office  United States      Los Angeles
9975    AP-10720            NaN  Home Office  United States      Los Angeles
9976    AP-10720            NaN  Home Office  United States      Los Angeles
9977    AP-10720            NaN  Home Office  United States      Los Angeles
9978    AP-10720            NaN  Home Office  United States      Los Angeles
9979    AP-10720            NaN  Home Office  United States      Los Angeles
9980    SW-20455            NaN     Consumer  United States        Lafayette
9981    TB-21055            NaN     Consumer  United States        Fairfield
9982    RC-19960            NaN     Consumer  United States     Grand Rapids
9983    RC-19960            NaN     Consumer  United States     Grand Rapids
9984    DV-13465            NaN     Consumer  United States       Long Beach
9985    DV-13465            NaN     Consumer  United States       Long Beach
9986    ML-17410            NaN     Consumer  United States      Los Angeles
9987    RA-19885            NaN    Corporate  United States           Athens
9988    RA-19885            NaN    Corporate  United States           Athens
9989    TB-21400            NaN     Consumer  United States            Miami
9990    DB-13060            NaN     Consumer  United States       Costa Mesa
9991    DB-13060            NaN     Consumer  United States       Costa Mesa
9992    DB-13060            NaN     Consumer  United States       Costa Mesa
9993    CC-12220            NaN     Consumer  United States      Westminster

        ...      Region       Product ID         Category Sub-Category  \
0       ...       South  FUR-BO-10001798        Furniture    Bookcases
1       ...       South  FUR-CH-10000454        Furniture       Chairs
2       ...        West  OFF-LA-10000240  Office Supplies       Labels
3       ...       South  FUR-TA-10000577        Furniture       Tables
4       ...       South  OFF-ST-10000760  Office Supplies      Storage
5       ...        West  FUR-FU-10001487        Furniture  Furnishings
6       ...        West  OFF-AR-10002833  Office Supplies          Art
7       ...        West  TEC-PH-10002275       Technology       Phones
8       ...        West  OFF-BI-10003910  Office Supplies      Binders
9       ...        West  OFF-AP-10002892  Office Supplies   Appliances
10      ...        West  FUR-TA-10001539        Furniture       Tables
11      ...        West  TEC-PH-10002033       Technology       Phones
12      ...       South  OFF-PA-10002365  Office Supplies        Paper
13      ...        West  OFF-BI-10003656  Office Supplies      Binders
14      ...     Central  OFF-AP-10002311  Office Supplies   Appliances
15      ...     Central  OFF-BI-10000756  Office Supplies      Binders
16      ...     Central  OFF-ST-10004186  Office Supplies      Storage
17      ...        West  OFF-ST-10000107  Office Supplies      Storage
18      ...        West  OFF-AR-10003056  Office Supplies          Art
19      ...        West  TEC-PH-10001949       Technology       Phones
20      ...        West  OFF-BI-10002215  Office Supplies      Binders
21      ...     Central  OFF-AR-10000246  Office Supplies          Art
22      ...     Central  OFF-AP-10001492  Office Supplies   Appliances
23      ...        East  FUR-CH-10002774        Furniture       Chairs
24      ...        West  FUR-TA-10000577        Furniture       Tables
25      ...        West  OFF-BI-10001634  Office Supplies      Binders
26      ...        West  TEC-AC-10003027       Technology  Accessories
27      ...        East  FUR-BO-10004834        Furniture    Bookcases
28      ...        East  OFF-BI-10000474  Office Supplies      Binders
29      ...        East  FUR-FU-10004848        Furniture  Furnishings
...     ...         ...              ...              ...          ...
9964    ...        East  FUR-FU-10002671        Furniture  Furnishings
9965    ...        East  OFF-PA-10000349  Office Supplies        Paper
9966    ...        East  OFF-EN-10004483  Office Supplies    Envelopes
9967    ...        East  OFF-BI-10004209  Office Supplies      Binders
9968    ...        East  OFF-BI-10004600  Office Supplies      Binders
9969    ...        East  OFF-AP-10003622  Office Supplies   Appliances
9970    ...       South  OFF-BI-10002867  Office Supplies      Binders
9971    ...       South  OFF-AR-10000538  Office Supplies          Art
9972    ...     Central  OFF-EN-10000056  Office Supplies    Envelopes
9973    ...        West  TEC-PH-10004080       Technology       Phones
9974    ...        West  OFF-AR-10004752  Office Supplies          Art
9975    ...        West  OFF-PA-10000743  Office Supplies        Paper
9976    ...        West  TEC-PH-10002496       Technology       Phones
9977    ...        West  OFF-FA-10003467  Office Supplies    Fasteners
9978    ...        West  OFF-BI-10003727  Office Supplies      Binders
9979    ...        West  OFF-BI-10002026  Office Supplies      Binders
9980    ...       South  FUR-TA-10001039        Furniture       Tables
9981    ...        East  OFF-LA-10004484  Office Supplies       Labels
9982    ...     Central  OFF-PA-10002195  Office Supplies        Paper
9983    ...     Central  TEC-PH-10001305       Technology       Phones
9984    ...        East  OFF-LA-10003766  Office Supplies       Labels
9985    ...        East  OFF-SU-10000898  Office Supplies     Supplies
9986    ...        West  TEC-AC-10003399       Technology  Accessories
9987    ...       South  TEC-AC-10001539       Technology  Accessories
9988    ...       South  TEC-PH-10004006       Technology       Phones
9989    ...       South  FUR-FU-10001889        Furniture  Furnishings
9990    ...        West  FUR-FU-10000747        Furniture  Furnishings
9991    ...        West  TEC-PH-10003645       Technology       Phones
9992    ...        West  OFF-PA-10004041  Office Supplies        Paper
9993    ...        West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name      Sales Quantitie  \
0                     Bush Somerset Collection Bookcase   261.9600       2.0
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.9400       3.0
2     Self-Adhesive Address Labels for Typewriters b...    14.6200       2.0
3         Bretford CR4500 Series Slim Rectangular Table   957.5775       5.0
4                        Eldon Fold 'N Roll Cart System    22.3680       2.0
5     Eldon Expressions Wood and Plastic Desk Access...    48.8600       7.0
6                                            Newell 322     7.2800       4.0
7                        Mitel 5320 IP Phone VoIP phone   907.1520       6.0
8     DXL Angle-View Binders with Locking Rings by S...    18.5040       3.0
9                      Belkin F5C206VTEL 6 Outlet Surge   114.9000       5.0
10             Chromcraft Rectangular Conference Tables  1706.1840       9.0
11        Konftel 250 Conference phone - Charcoal black   911.4240       4.0
12                                           Xerox 1967    15.5520       3.0
13          Fellowes PB200 Plastic Comb Binding Machine        NaN       3.0
14    Holmes Replacement Filter for HEPA Air Cleaner...    68.8100       5.0
15     Storex DuraTech Recycled Plastic Frosted Binders     2.5440       3.0
16    Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x...   665.8800       6.0
17                           Fellowes Super Stor/Drawer    55.5000       2.0
18                                           Newell 341     8.5600       2.0
19                              Cisco SPA 501G IP Phone   213.4800       NaN
20          Wilson Jones Hanging View Binder, White, 1"    22.7200       4.0
21                                           Newell 318    19.4600       7.0
22          Acco Six-Outlet Power Strip, 4' Cord Length    60.3400       7.0
23                   Global Deluxe Stacking Chair, Gray    71.3720       2.0
24        Bretford CR4500 Series Slim Rectangular Table  1044.6300       NaN
25                      Wilson Jones Active Use Binders    11.6480       2.0
26     Imation 8GB Mini TravelDrive USB 2.0 Flash Drive    90.5700       3.0
27    Riverside Palais Royal Lawyers Bookcase, Royal...  3083.4300       7.0
28    Avery Recycled Flexi-View Covers for Binding S...     9.6180       2.0
29    Howard Miller 13-3/4" Diameter Brushed Chrome ...   124.2000       3.0
...                                                 ...        ...       ...
9964  Electrix 20W Halogen Replacement Bulb for Zoom...    13.4000       1.0
9965                                  Easy-staple paper     4.9800       1.0
9966         #10 White Business Envelopes,4 1/8 x 9 1/2   109.6900       7.0
9967            Fellowes Twister Kit, Gray/Clear, 3/pkg    40.2000       5.0
9968          Ibico Ibimaster 300 Manual Binding System   735.9800       2.0
9969  Bravo II Megaboss 12-Amp Hard Body Upright, Re...    22.7500       7.0
9970            GBC Recycled Regency Composition Covers   119.5600       2.0
9971  Boston Model 1800 Electric Pencil Sharpener, Gray   140.7500       5.0
9972                        Cameo Buff Policy Envelopes    99.5680       2.0
9973                           Avaya 5410 Digital phone   271.9600       5.0
9974                               Blackstonian Pencils    18.6900       7.0
9975                                         Xerox 1977    13.3600       2.0
9976                                       Cisco SPA301   249.5840       2.0
9977           Alliance Big Bands Rubber Bands, 12/Pack    13.8600       7.0
9978  Avery Durable Slant Ring Binders With Label Ho...    13.3760       4.0
9979                  Ibico Recycled Linen-Style Covers   437.4720      14.0
9980                         KI Adjustable-Height Table    85.9800       1.0
9981                                          Avery 476    16.5200       5.0
9982  RSVP Cards & Envelopes, Blank White, 8-1/2" X ...    35.5600       7.0
9983                   Panasonic KX TS208W Corded phone    97.9800       2.0
9984                     Self-Adhesive Removable Labels    31.5000      10.0
9985  Acme Hot Forged Carbon Steel Scissors with Nic...    55.6000       4.0
9986  Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...    36.2400       1.0
9987  Logitech G430 Surround Sound Gaming Headset wi...    79.9900       1.0
9988                    Panasonic KX - TS880B Telephone   206.1000       5.0
9989                             Ultra Door Pull Handle    25.2480       3.0
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...    91.9600       2.0
9991                              Aastra 57i VoIP phone   258.5760       2.0
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"    29.6000       4.0
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   243.1600       2.0

      Discount     Profit  Returned
0         0.00    41.9136       NaN
1         0.00   219.5820       NaN
2         0.00     6.8714       NaN
3         0.45  -383.0310       NaN
4         0.20     2.5164       NaN
5         0.00    14.1694       NaN
6         0.00     1.9656       NaN
7         0.20    90.7152       NaN
8         0.20     5.7825       NaN
9         0.00    34.4700       NaN
10        0.20    85.3092       NaN
11        0.20    68.3568       NaN
12        0.20     5.4432       NaN
13        0.20   132.5922       NaN
14        0.80  -123.8580       NaN
15        0.80    -3.8160       NaN
16         NaN    13.3176       NaN
17        0.00     9.9900       NaN
18        0.00     2.4824       Yes
19        0.20    16.0110       Yes
20        0.20     7.3840       Yes
21        0.00     5.0596       NaN
22        0.00    15.6884       NaN
23        0.30    -1.0196       NaN
24        0.00        NaN       NaN
25        0.20     4.2224       NaN
26        0.00    11.7741       NaN
27        0.50 -1665.0522       NaN
28        0.70    -7.0532       NaN
29        0.20    15.5250       NaN
...        ...        ...       ...
9964      0.00     6.4320       NaN
9965      0.00     2.3406       NaN
9966      0.00    51.5543       NaN
9967      0.00    18.0900       NaN
9968      0.00   331.1910       NaN
9969      0.00     6.5975       NaN
9970      0.00    54.9976       NaN
9971      0.00    42.2250       NaN
9972      0.20    33.6042       NaN
9973      0.20    27.1960       NaN
9974      0.00     5.2332       NaN
9975      0.00     6.4128       NaN
9976      0.20    31.1980       NaN
9977      0.00     0.0000       NaN
9978      0.20     4.6816       NaN
9979      0.20   153.1152       NaN
9980      0.00    22.3548       NaN
9981      0.20     5.3690       NaN
9982      0.00    16.7132       NaN
9983      0.00    27.4344       NaN

As we mentioned before, we did not want to lose any of the sales data for orders that were NOT returned. Consequently, we see many NaN values in our new column, which signifies that the order was not returned. To clean this up, pandas provides a function, .fillna(), that will allow us to replace these values with 'No' instead.

In [20]:
#Fill the NaN values in the 'Returned' column with the value 'No'
combined_df['Returned'] = combined_df['Returned'].fillna('No')
print(combined_df.head(5))

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

   Customer Name    Segment        Country             City    ...    Region  \
0            NaN   Consumer  United States        Henderson    ...     South
1            NaN   Consumer  United States        Henderson    ...     South
2            NaN  Corporate  United States      Los Angeles    ...      West
3            NaN   Consumer  United States  Fort Lauderdale    ...     South
4            NaN   Consumer  United States  Fort Lauderdale    ...     South

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales Quantitie  \
0                  Bush Somerset Collection Bookcase  261.9600       2.0
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400       3.0
2  Self-Adhesive Address Labels for Typewriters b...   14.6200       2.0
3      Bretford CR4500 Series Slim Rectangular Table  957.5775       5.0
4                     Eldon Fold 'N Roll Cart System   22.3680       2.0

   Discount    Profit  Returned
0      0.00   41.9136        No
1      0.00  219.5820        No
2      0.00    6.8714        No
3      0.45 -383.0310        No
4      0.20    2.5164        No

[5 rows x 22 columns]

Success! Now we see that the NaN values in our 'Returned' column have been replaced with 'No'.

Next, we can look at all of the orders that were returned to see if there were any similarities between these orders. In order to do this, we need to create a dataframe that contains only the orders that were returned. We can leverage the .loc() function and boolean logic to identify these records.

In [21]:
#Select all order records where the order was returned.
returned_orders_data = combined_df.loc[combined_df['Returned'] == 'Yes']
print(returned_orders_data)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
18        19  CA-2014-143336 2014-08-27 2014-09-01    Second Class
19        20  CA-2014-143336 2014-08-27 2014-09-01    Second Class
20        21  CA-2014-143336 2014-08-27 2014-09-01    Second Class
55        56  CA-2016-111682 2016-06-17 2016-06-18     First Class
56        57  CA-2016-111682 2016-06-17 2016-06-18     First Class
57        58  CA-2016-111682 2016-06-17 2016-06-18     First Class
58        59  CA-2016-111682 2016-06-17 2016-06-18     First Class
59        60  CA-2016-111682 2016-06-17 2016-06-18     First Class
60        61  CA-2016-111682 2016-06-17 2016-06-18     First Class
61        62  CA-2016-111682 2016-06-17 2016-06-18     First Class
89        90  CA-2016-109806 2016-09-17 2016-09-22  Standard Class
90        91  CA-2016-109806 2016-09-17 2016-09-22  Standard Class
91        92  CA-2016-109806 2016-09-17 2016-09-22  Standard Class
133      134  CA-2016-145583 2016-10-13 2016-10-19  Standard Class
134      135  CA-2016-145583 2016-10-13 2016-10-19  Standard Class
135      136  CA-2016-145583 2016-10-13 2016-10-19  Standard Class
136      137  CA-2016-145583 2016-10-13 2016-10-19  Standard Class
137      138  CA-2016-145583 2016-10-13 2016-10-19  Standard Class
138      139  CA-2016-145583 2016-10-13 2016-10-19  Standard Class
139      140  CA-2016-145583 2016-10-13 2016-10-19  Standard Class
201      202  CA-2014-133690 2014-08-03 2014-08-05     First Class
202      203  CA-2014-133690 2014-08-03 2014-08-05     First Class
212      213  CA-2015-146262 2015-01-02 2015-01-09  Standard Class
213      214  CA-2015-146262 2015-01-02 2015-01-09  Standard Class
214      215  CA-2015-146262 2015-01-02 2015-01-09  Standard Class
215      216  CA-2015-146262 2015-01-02 2015-01-09  Standard Class
216      217  CA-2015-146262 2015-01-02 2015-01-09  Standard Class
219      220  CA-2015-169397 2015-12-24 2015-12-27     First Class
220      221  CA-2015-169397 2015-12-24 2015-12-27     First Class
221      222  CA-2015-169397 2015-12-24 2015-12-27     First Class
...      ...             ...        ...        ...             ...
9708    9709  CA-2016-161746 2016-10-21 2016-10-27  Standard Class
9709    9710  CA-2016-161746 2016-10-21 2016-10-27  Standard Class
9726    9727  CA-2017-167395 2017-12-02 2017-12-04     First Class
9727    9728  CA-2017-167395 2017-12-02 2017-12-04     First Class
9728    9729  CA-2017-167395 2017-12-02 2017-12-04     First Class
9768    9769  CA-2017-142328 2017-12-07 2017-12-14  Standard Class
9774    9775  CA-2014-169019 2014-07-26 2014-07-30  Standard Class
9775    9776  CA-2014-169019 2014-07-26 2014-07-30  Standard Class
9776    9777  CA-2014-169019 2014-07-26 2014-07-30  Standard Class
9777    9778  CA-2014-169019 2014-07-26 2014-07-30  Standard Class
9778    9779  CA-2014-169019 2014-07-26 2014-07-30  Standard Class
9779    9780  CA-2014-169019 2014-07-26 2014-07-30  Standard Class
9822    9823  US-2014-164406 2014-08-15 2014-08-19  Standard Class
9823    9824  US-2014-164406 2014-08-15 2014-08-19  Standard Class
9824    9825  US-2014-164406 2014-08-15 2014-08-19  Standard Class
9825    9826  US-2014-164406 2014-08-15 2014-08-19  Standard Class
9826    9827  US-2014-164406 2014-08-15 2014-08-19  Standard Class
9846    9847  CA-2017-169327 2017-09-02 2017-09-04    Second Class
9847    9848  CA-2017-169327 2017-09-02 2017-09-04    Second Class
9848    9849  CA-2017-169327 2017-09-02 2017-09-04    Second Class
9952    9953  CA-2015-141593 2015-12-14 2015-12-16    Second Class
9953    9954  CA-2015-141593 2015-12-14 2015-12-16    Second Class
9954    9955  CA-2015-141593 2015-12-14 2015-12-16    Second Class
9955    9956  CA-2015-141593 2015-12-14 2015-12-16    Second Class
9956    9957  US-2014-143287 2014-11-11 2014-11-17  Standard Class
9957    9958  US-2014-143287 2014-11-11 2014-11-17  Standard Class
9958    9959  US-2014-143287 2014-11-11 2014-11-17  Standard Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class

     Customer ID  Customer Name      Segment        Country           City  \
18      ZD-21925            NaN     Consumer  United States  San Francisco
19      ZD-21925            NaN     Consumer  United States  San Francisco
20      ZD-21925            NaN     Consumer  United States  San Francisco
55      TB-21055            NaN     Consumer  United States           Troy
56      TB-21055            NaN     Consumer  United States           Troy
57      TB-21055            NaN     Consumer  United States           Troy
58      TB-21055            NaN     Consumer  United States           Troy
59      TB-21055            NaN     Consumer  United States           Troy
60      TB-21055            NaN     Consumer  United States           Troy
61      TB-21055            NaN     Consumer  United States           Troy
89      JS-15685            NaN    Corporate  United States    Los Angeles
90      JS-15685            NaN    Corporate  United States    Los Angeles
91      JS-15685            NaN    Corporate  United States    Los Angeles
133     LC-16885            NaN     Consumer  United States      Roseville
134     LC-16885            NaN     Consumer  United States      Roseville
135     LC-16885            NaN     Consumer  United States      Roseville
136     LC-16885            NaN     Consumer  United States      Roseville
137     LC-16885            NaN     Consumer  United States      Roseville
138     LC-16885            NaN     Consumer  United States      Roseville
139     LC-16885            NaN     Consumer  United States      Roseville
201     BS-11755            NaN     Consumer  United States         Denver
202     BS-11755            NaN     Consumer  United States         Denver
212     VW-21775            NaN    Corporate  United States         Medina
213     VW-21775            NaN    Corporate  United States         Medina
214     VW-21775            NaN    Corporate  United States         Medina
215     VW-21775            NaN    Corporate  United States         Medina
216     VW-21775            NaN    Corporate  United States         Medina
219     JB-15925            NaN     Consumer  United States         Dublin
220     JB-15925            NaN     Consumer  United States         Dublin
221     JB-15925            NaN     Consumer  United States         Dublin
...          ...            ...          ...            ...            ...
9708    CS-11950            NaN     Consumer  United States    Los Angeles
9709    CS-11950            NaN     Consumer  United States    Los Angeles
9726    KM-16720            NaN     Consumer  United States         Lowell
9727    KM-16720            NaN     Consumer  United States         Lowell
9728    KM-16720            NaN     Consumer  United States         Lowell
9768    TC-21535            NaN  Home Office  United States  San Francisco
9774    LF-17185            NaN     Consumer  United States    San Antonio
9775    LF-17185            NaN     Consumer  United States    San Antonio
9776    LF-17185            NaN     Consumer  United States    San Antonio
9777    LF-17185            NaN     Consumer  United States    San Antonio
9778    LF-17185            NaN     Consumer  United States    San Antonio
9779    LF-17185            NaN     Consumer  United States    San Antonio
9822    BD-11605            NaN     Consumer  United States  San Francisco
9823    BD-11605            NaN     Consumer  United States  San Francisco
9824    BD-11605            NaN     Consumer  United States  San Francisco
9825    BD-11605            NaN     Consumer  United States  San Francisco
9826    BD-11605            NaN     Consumer  United States  San Francisco
9846    MH-17290            NaN  Home Office  United States    Los Angeles
9847    MH-17290            NaN  Home Office  United States    Los Angeles
9848    MH-17290            NaN  Home Office  United States    Los Angeles
9952    DB-12970            NaN    Corporate  United States    Los Angeles
9953    DB-12970            NaN    Corporate  United States    Los Angeles
9954    DB-12970            NaN    Corporate  United States    Los Angeles
9955    DB-12970            NaN    Corporate  United States    Los Angeles
9956    KN-16705            NaN  Home Office  United States   New Rochelle
9957    KN-16705            NaN  Home Office  United States   New Rochelle
9958    KN-16705            NaN  Home Office  United States   New Rochelle
9990    DB-13060            NaN     Consumer  United States     Costa Mesa
9991    DB-13060            NaN     Consumer  United States     Costa Mesa
9992    DB-13060            NaN     Consumer  United States     Costa Mesa

        ...      Region       Product ID         Category Sub-Category  \
18      ...        West  OFF-AR-10003056  Office Supplies          Art
19      ...        West  TEC-PH-10001949       Technology       Phones
20      ...        West  OFF-BI-10002215  Office Supplies      Binders
55      ...        East  OFF-ST-10000604  Office Supplies      Storage
56      ...        East  OFF-PA-10001569  Office Supplies        Paper
57      ...        East  FUR-CH-10003968        Furniture       Chairs
58      ...        East  OFF-PA-10000587  Office Supplies        Paper
59      ...        East  TEC-AC-10002167       Technology  Accessories
60      ...        East  OFF-BI-10001460  Office Supplies      Binders
61      ...        East  OFF-AR-10001868  Office Supplies          Art
89      ...        West  OFF-AR-10004930  Office Supplies          Art
90      ...        West  TEC-PH-10004093       Technology       Phones
91      ...        West  OFF-PA-10000304  Office Supplies        Paper
133     ...        West  OFF-PA-10001804  Office Supplies        Paper
134     ...        West  OFF-PA-10001736  Office Supplies        Paper
135     ...        West  OFF-AR-10001149  Office Supplies          Art
136     ...        West  OFF-FA-10002988  Office Supplies    Fasteners
137     ...        West  OFF-BI-10004781  Office Supplies      Binders
138     ...        West  OFF-SU-10001218  Office Supplies     Supplies
139     ...        West  FUR-FU-10001706        Furniture  Furnishings
201     ...        West  FUR-TA-10004289        Furniture       Tables
202     ...        West  OFF-AP-10003622  Office Supplies   Appliances
212     ...        East  OFF-LA-10004544  Office Supplies       Labels
213     ...        East  FUR-BO-10004695        Furniture    Bookcases
214     ...        East  TEC-PH-10002844       Technology       Phones
215     ...        East  TEC-MA-10000864       Technology     Machines
216     ...        East  TEC-AC-10000109       Technology  Accessories
219     ...        East  OFF-FA-10000585  Office Supplies    Fasteners
220     ...        East  OFF-PA-10004000  Office Supplies        Paper
221     ...        East  OFF-BI-10002852  Office Supplies      Binders
...     ...         ...              ...              ...          ...
9708    ...        West  FUR-FU-10003731        Furniture  Furnishings
9709    ...        West  OFF-ST-10002743  Office Supplies      Storage
9726    ...        East  OFF-AP-10001293  Office Supplies   Appliances
9727    ...        East  TEC-PH-10004977       Technology       Phones
9728    ...        East  OFF-SU-10001935  Office Supplies     Supplies
9768    ...        West  OFF-PA-10000380  Office Supplies        Paper
9774    ...     Central  OFF-BI-10004995  Office Supplies      Binders
9775    ...     Central  FUR-FU-10004666        Furniture  Furnishings
9776    ...     Central  OFF-BI-10001524  Office Supplies      Binders
9777    ...     Central  TEC-AC-10002076       Technology  Accessories
9778    ...     Central  OFF-BI-10001679  Office Supplies      Binders
9779    ...     Central  OFF-AP-10003281  Office Supplies   Appliances
9822    ...        West  OFF-AP-10003287  Office Supplies   Appliances
9823    ...        West  OFF-PA-10000167  Office Supplies        Paper
9824    ...        West  OFF-BI-10002309  Office Supplies      Binders
9825    ...        West  OFF-BI-10003638  Office Supplies      Binders
9826    ...        West  FUR-CH-10003833        Furniture       Chairs
9846    ...        West  OFF-AP-10001492  Office Supplies   Appliances
9847    ...        West  FUR-FU-10004188        Furniture  Furnishings
9848    ...        West  OFF-BI-10004330  Office Supplies      Binders
9952    ...        West  OFF-BI-10001153  Office Supplies      Binders
9953    ...        West  OFF-PA-10004983  Office Supplies        Paper
9954    ...        West  OFF-BI-10000948  Office Supplies      Binders
9955    ...        West  FUR-TA-10002622        Furniture       Tables
9956    ...        East  OFF-PA-10001776  Office Supplies        Paper
9957    ...        East  OFF-PA-10004039  Office Supplies        Paper
9958    ...        East  OFF-SU-10001574  Office Supplies     Supplies
9990    ...        West  FUR-FU-10000747        Furniture  Furnishings
9991    ...        West  TEC-PH-10003645       Technology       Phones
9992    ...        West  OFF-PA-10004041  Office Supplies        Paper

                                           Product Name     Sales Quantitie  \
18                                           Newell 341     8.560       2.0
19                              Cisco SPA 501G IP Phone   213.480       NaN
20          Wilson Jones Hanging View Binder, White, 1"    22.720       4.0
55                      Home/Office Personal File Carts   208.560       6.0
56                                            Xerox 232    32.400       5.0
57                             Novimex Turbo Task Chair   319.410       5.0
58               Array Parchment Paper, Assorted Colors    14.560       2.0
59    Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive    30.000       2.0
60                                Plastic Binding Combs    48.480       4.0
61                          Prang Dustless Chalk Sticks     1.680       1.0
89               Turquoise Lead Holder with Pocket Clip    20.100       3.0
90                                   Panasonic Kx-TS550    73.584       2.0
91                                           Xerox 1995     6.480       1.0
133                                           Xerox 195    20.040       3.0
134                                          Xerox 1880    35.440       1.0
135           Sanford Colorific Colored Pencils, 12/Box    11.520       4.0
136                                        Ideal Clamps     4.020       2.0
137                             GBC Wire Binding Strips    76.176       3.0
138                           Fiskars Softgrip Scissors    65.880       6.0
139                        Longer-Life Soft White Bulbs    43.120      14.0
201   BoxOffice By Design Rectangular and Half-Moon ...   218.750       2.0
202   Bravo II Megaboss 12-Amp Hard Body Upright, Re...     2.600       1.0
212                                           Avery 505    23.680       2.0
213   O'Sullivan 2-Door Barrister Bookcase in Odessa...   452.450       5.0
214                 Speck Products Candyshell Flip Case    62.982       3.0
215                  Cisco 9971 IP Video Phone Charcoal  1188.000       9.0
216    Sony Micro Vault Click 16 GB USB 2.0 Flash Drive    89.584       2.0
219                    OIC Bulk Pack Metal Binder Clips     5.584       2.0
220   While You Were Out Pads, 50 per Pad, 4 x 5 1/4...    22.704       6.0
221                   Ibico Standard Transparent Covers    19.776       4.0
...                                                 ...       ...       ...
9708  Eldon Expressions Wood and Plastic Desk Access...    19.960       2.0
9709                      SAFCO Boltless Steel Shelving   340.920       3.0
9726                    Belkin 8 Outlet Surge Protector   286.860       7.0
9727                                        GE 30524EE4   979.950       5.0
9728                                     Staple remover     4.360       2.0
9768  REDIFORM Incoming/Outgoing Call Register, 11" ...    50.040       6.0
9774          GBC DocuBind P400 Electric Binding System  2177.584       8.0
9775                     DAX Clear Channel Poster Frame    17.496       3.0
9776  GBC Premium Transparent Covers with Diagonal L...    16.784       4.0
9777                   Microsoft Natural Keyboard Elite   431.136       9.0
9778       GBC Instant Index System for Binding Systems     8.880       5.0
9779   Acco 6 Outlet Guardian Standard Surge Suppressor     4.836       2.0
9822  Tripp Lite TLP810NET Broadband Surge for Modem...   152.910       3.0
9823                                         Xerox 1925    92.940       3.0
9824    Avery Heavy-Duty EZD  Binder With Locking Rings    17.856       4.0
9825                         GBC Durable Plastic Covers    46.440       3.0
9826                          Novimex Fabric Task Chair   195.136       4.0
9846        Acco Six-Outlet Power Strip, 4' Cord Length    43.100       5.0
9847       Luxo Professional Combination Clamp-On Lamps   511.500       5.0
9848  GBC Velobind Prepunched Cover Sets, Regency Se...   147.920       5.0
9952               Ibico Recycled Grain-Textured Covers    55.264       2.0
9953                                           Xerox 23     6.480       1.0
9954  GBC Laser Imprintable Binding System Covers, D...    34.248       3.0
9955  Bush Andora Conference Table, Maple/Graphite G...   273.568       2.0
9956  Wirebound Message Books, Four 2 3/4" x 5" Form...    46.350       5.0
9957                                         Xerox 1882   223.920       4.0
9958                           Acme Value Line Scissors     7.300       2.0
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...    91.960       2.0
9991                              Aastra 57i VoIP phone   258.576       2.0
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"    29.600       4.0

      Discount     Profit  Returned
18         0.0     2.4824       Yes
19         0.2    16.0110       Yes
20         0.2     7.3840       Yes
55         0.0    52.1400       Yes
56         0.0    15.5520       Yes
57         0.1     7.0980       Yes
58         0.0     6.9888       Yes
59         0.0     3.3000       Yes
60         0.2    16.3620       Yes
61         0.0     0.8400       Yes
89         0.0     6.6330       Yes
90         0.2     8.2782       Yes
91         0.0     3.1104       Yes
133        0.0     9.6192       Yes
134        0.0    16.6568       Yes
135        0.0     3.4560       Yes
136        0.0     1.9698       Yes
137        0.2    26.6616       Yes
138        0.0    18.4464       Yes
139        0.0    20.6976       Yes
201        0.5  -161.8750       Yes
202        0.2     0.2925       Yes
212        0.2     8.8800       Yes
213        0.5  -244.3230       Yes
214        0.4   -14.6958       Yes
215        0.7  -950.4000       Yes
216        0.2     4.4792       Yes
219        0.2     1.8148       Yes
220        0.2     8.2302       Yes
221        0.7   -13.8432       Yes
...        ...        ...       ...
9708       0.0     5.5888       Yes
9709       0.0     3.4092       Yes
9726       0.0    80.3208       Yes
9727       0.0   284.1855       Yes
9728       0.0     0.1744       Yes
9768       0.0    25.0200       Yes
9774       0.8 -3701.8928       Yes
9775       0.6   -10.0602       Yes
9776       0.8   -26.8544       Yes
9777       0.2   -26.9460       Yes
9778       0.8   -13.3200       Yes
9779       0.8   -12.0900       Yes
9822       0.0    42.8148       Yes
9823       0.0    41.8230       Yes
9824       0.2     6.2496       Yes
9825       0.2    15.0930       Yes
9826       0.2   -12.1960       Yes
9846       0.0    11.2060       Yes
9847       0.0   132.9900       Yes
9848       0.2    46.2250       Yes
9952       0.2    20.7240       Yes
9953       0.0     3.1104       Yes
9954       0.2    11.5587       Yes
9955       0.2    10.2588       Yes
9956       0.0    21.7845       Yes

[800 rows x 22 columns]

All of the records in the returned_orders_data dataframe have a value of 'Yes' in the 'Returned' column. 

We would like to save this information down in a csv for later use by using the pandas .to_csv() function.

In [22]:
#Save returned_orders_data to a csv file.
returned_orders_data.to_csv("returned_orders_data.csv")

If you check your current working directory, you will see that this new csv file has been created.

If you would like to save a pandas dataframe to Excel, the process is slightly more complicated. You would need to use the pandas .ExcelWriter() function and the pandas .to_excel() function to output to an Excel. The code for this process is below:

In [23]:
# Create a string variable that contains the name of the Excel file. If this file has not been created, python will create it
# for you.
outfile = "to_excel_test.xlsx"

# Create an ExcelWriter object using the file name variable you created above.
excel_writer = pd.ExcelWriter(outfile) 

#Write the pandas dataframe to Excel using the to_excel() function. The arguments passed are as follows: 
# .to_excel(ExcelWriter object, String sheetname, index = False). Setting index = False removes row numbers created by pandas.
returned_orders_data.to_excel(excel_writer, "Completeness Testing", index = False)

With this step, we have concluded the lesson on basic pandas dataframe operations.

### Exercise 1
1. Create a new pandas dataframe using the columns 'Order ID' and 'Region' from the dataframe 'excel_data' above.
2. Print the first 10 records of this new dataframe.
3. Print all records where the 'Region' = 'West'

In [24]:
new_df = excel_data[['Order ID', 'Region']]
print("Original Dataframe")
print(new_df.head(10))

west_df = new_df.loc[new_df['Region'] == 'West']
print("West Only Dataframe")
print(west_df)

Original Dataframe
         Order ID Region
0  CA-2016-152156  South
1  CA-2016-152156  South
2  CA-2016-138688   West
3  US-2015-108966  South
4  US-2015-108966  South
5  CA-2014-115812   West
6  CA-2014-115812   West
7  CA-2014-115812   West
8  CA-2014-115812   West
9  CA-2014-115812   West
West Only Dataframe
            Order ID Region
2     CA-2016-138688   West
5     CA-2014-115812   West
6     CA-2014-115812   West
7     CA-2014-115812   West
8     CA-2014-115812   West
9     CA-2014-115812   West
10    CA-2014-115812   West
11    CA-2014-115812   West
13    CA-2016-161389   West
17    CA-2014-167164   West
18    CA-2014-143336   West
19    CA-2014-143336   West
20    CA-2014-143336   West
24    CA-2015-106320   West
25    CA-2016-121755   West
26    CA-2016-121755   West
42    CA-2016-101343   West
62    CA-2015-135545   West
63    CA-2015-135545   West
64    CA-2015-135545   West
65    CA-2015-135545   West
67    CA-2014-106376   West
68    CA-2014-106376   West
81    CA-2014-139451   West
82    CA-2014-139451   West
89    CA-2016-109806   West
90    CA-2016-109806   West
91    CA-2016-109806   West
95    US-2017-109484   West
97    CA-2017-157833   West
...              ...    ...
9910  US-2015-129007   West
9912  CA-2015-132388   West
9913  CA-2015-132388   West
9928  CA-2016-129630   West
9929  CA-2016-129630   West
9930  CA-2015-104948   West
9931  CA-2015-104948   West
9932  CA-2015-104948   West
9937  CA-2016-164889   West
9941  CA-2017-164028   West
9942  CA-2014-143371   West
9943  CA-2014-143371   West
9944  CA-2015-145415   West
9952  CA-2015-141593   West
9953  CA-2015-141593   West
9954  CA-2015-141593   West
9955  CA-2015-141593   West
9959  CA-2017-137421   West
9973  US-2016-103674   West
9974  US-2016-103674   West
9975  US-2016-103674   West
9976  US-2016-103674   West
9977  US-2016-103674   West
9978  US-2016-103674   West
9979  US-2016-103674   West
9986  CA-2016-125794   West
9990  CA-2017-121258   West
9991  CA-2017-121258   West
9992  CA-2017-121258   West
9993  CA-2017-119914   West

[3203 rows x 2 columns]

---
## Summary Statistics and Numeric Functions in Pandas
---
At this point, you should have a basic understanding of how to work with pandas dataframes. Once you feel comfortable with the material above, you can start performing analysis on your data. For this section, we will use the 'returned_orders_data' dataframe that we created in the previous lesson.

Pandas provides a great function, the .describe() function, that outputs generic summary statistical information for the NUMERIC fields in our dataframe. Its use is shown below:

In [25]:
#Output summary statistics on numeric columns in returned_orders_data.
returned_orders_data.describe()

,Row ID,Customer Name,Sales,Quantitie,Discount,Profit
count,800.000000,0.0,798.000000,799.000000,800.000000,793.000000
mean,4799.993750,NaN,226.163777,3.817272,0.143425,29.048405
std,2940.248858,NaN,620.555988,2.231951,0.197839,296.584600
min,19.000000,NaN,1.680000,1.000000,0.000000,-3701.892800
25%,2114.750000,NaN,20.727000,2.000000,0.000000,2.956800
50%,4929.500000,NaN,59.970000,3.000000,0.000000,10.791200
75%,7162.750000,NaN,218.226500,5.000000,0.200000,30.445000
max,9993.000000,NaN,13999.960000,14.000000,0.800000,6719.980800

The .describe() function computes the count, mean, min, max, quartile values, and standard deviation for the numeric columns in our dataframe. This is extremely useful for quick analysis on your data.

While this is helpful, it is more common that we may want to perform these calculations on a subset of our data. The next set of instructions demonstrate the use of the individual statistical functions on our dataset. We will be performing these calculations on the 'Sales' column for all returned orders from the West region.

In [26]:
mean = returned_orders_data['Sales'].loc[returned_orders_data['Region'] == 'West'].mean()

std = returned_orders_data['Sales'].loc[returned_orders_data['Region'] == 'West'].std()

min_value = returned_orders_data['Sales'].loc[returned_orders_data['Region'] == 'West'].min()

perc_25 = returned_orders_data['Sales'].loc[returned_orders_data['Region'] == 'West'].quantile(.25)

perc_50 = returned_orders_data['Sales'].loc[returned_orders_data['Region'] == 'West'].quantile(.5)

perc_75 = returned_orders_data['Sales'].loc[returned_orders_data['Region'] == 'West'].quantile(.75)

max_value = returned_orders_data['Sales'].loc[returned_orders_data['Region'] == 'West'].max()

print("Mean: %f\n" % (mean))
print("Std: %f\n" % (std))
print("Min: %f\n" % (min_value))
print("25th Percentile: %f\n" % (perc_25))
print("50th Percentile: %f\n" % (perc_50))
print("75th Percentile: %f\n" % (perc_75))
print("Max: %f" % (max_value))

Mean: 220.199741

Std: 705.275995

Min: 1.872000

25th Percentile: 20.723000

50th Percentile: 57.230000

75th Percentile: 214.572500

Max: 13999.960000

Finally, another useful pandas function to know is the .groupby() function. This is a common command used in SQL, and is very important for data analysis. For example, we can use the pandas groupby function to calculate the total return amount for each region by summing the sales amounts and using the groupby function.

In [27]:
region_return_amt = returned_orders_data.groupby(['Region'])['Sales'].sum()
print(region_return_amt)

Region
Central     14006.9794
East        41705.1440
South       17309.0970
West       107457.4735
Name: Sales, dtype: float64

In the results, we see the total sales for each region for orders that were returned.

We can also groupby multiple columns. For example, if we want to see the same breakdown by region and category, we would use the following code:

In [28]:
region_cat_return_amt = returned_orders_data.groupby(['Region', 'Category'])['Sales'].sum()
print(region_cat_return_amt)

Region   Category
Central  Furniture           4011.1744
         Office Supplies     6705.1260
         Technology          3290.6790
East     Furniture          13812.7820
         Office Supplies     7836.1920
         Technology         20056.1700
South    Furniture           6519.0740
         Office Supplies     4583.5010
         Technology          6206.5220
West     Furniture          34876.1445
         Office Supplies    29426.5260
         Technology         43154.8030
Name: Sales, dtype: float64

Another use function is the .value_counts() function which allows us to compute the count of unique values in a column in a pandas dataframe, which is very useful when trying to profile a dataset. We can also choose if we would like the function to consider NULL values using the 'dropna' argument. The .value_counts() function returns a series. Sample code is show below:

In [29]:
#Running .value_counts() function.
value_counts = combined_df['State'].value_counts(dropna = False)

#Additional code for converting results from series to pandas dataframe.
count_results = pd.DataFrame({'State':value_counts.index, 'Count':value_counts.values})
count_results = count_results[['State', 'Count']]

print(count_results)

                   State  Count
0             California   2001
1               New York   1128
2                  Texas    985
3           Pennsylvania    587
4             Washington    506
5               Illinois    492
6                   Ohio    469
7                Florida    383
8               Michigan    255
9         North Carolina    249
10              Virginia    224
11               Arizona    224
12               Georgia    184
13             Tennessee    183
14              Colorado    182
15               Indiana    149
16              Kentucky    139
17         Massachusetts    135
18            New Jersey    130
19                Oregon    124
20             Wisconsin    110
21              Maryland    105
22              Delaware     96
23             Minnesota     89
24           Connecticut     82
25              Oklahoma     66
26              Missouri     66
27               Alabama     61
28              Arkansas     60
29          Rhode Island     56
30           Mississippi     53
31                  Utah     53
32             Louisiana     42
33        South Carolina     42
34                Nevada     39
35              Nebraska     38
36            New Mexico     37
37                  Iowa     30
38         New Hampshire     27
39                Kansas     24
40                 Idaho     21
41               Montana     15
42          South Dakota     12
43               Vermont     11
44  District of Columbia     10
45                 Maine      8
46          North Dakota      7
47         West Virginia      4
48               Wyoming      1

This concludes the lesson material for the data handling course. The following section will contain an actual business case that leverages the material that you learned in this section.

---
### EY Use Case: Data profiling
---
A common task that may benefit from the use of python is data profiling. When we begin projects and are provided with a large dataset, it is often very helpful to provide a summary of the data that you have received.

In this exercise, you will be provided with two datasets, one stored as an excel and the other as a csv. You will need to read in these two datasets and join them together. Next, you will notice that two of the columns need to have their names corrected, as they are spelled incorrectly. Then you will need to check to ensure that the data types are correct for all fields. Finally, you will perform profiling on the numeric fields and the categorical fields. 
<ol>
    <li> For the numeric fields, we expect all of the summary information provided by the describe function, but broken down by each date. Additionally, we would also like a count of the NULL values, and a column that shows the percent of records that are populated with non-NULL values. </li>
    <li> For the categorical fields, we would like to see a breakdown of the count of each distinct value for each run date. Please save the results in two separate csv files. </li></ol>

Step 1: Leverage the data in the 'combined_df' dataframe. The 'Quantitie' column is spelled incorrectly. Please fix this. Change the datatype of the 'Row ID' field from an integer to a string.

In [30]:
#Change the data type of the 'Row ID' field from an integer to an object
combined_df[['Row ID']] = combined_df[['Row ID']].astype(object)

#Rename column
combined_df = combined_df.rename(columns={'Quantitie' : 'Quantity'})
print(combined_df.dtypes)

Row ID                   object
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name           float64
Segment                  object
Country                  object
City                     object
State                    object
Postal Code              object
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                float64
Discount                float64
Profit                  float64
Returned                 object
dtype: object

Step 2: Perform completeness testing on dataset. Identify the total number of records, the count of NULL values, and the percentage of records that is complete for each field. Results should be saved in a single excel file. <br/> <br/> (Note: We will need to find some way to cycle through all of the fields in the dataframe)

In [31]:
outfile = "competeness_testing.xlsx"
writer = pd.ExcelWriter(outfile) 

#Total record count
num_rows = len(combined_df)

flag = 0
for column in combined_df:
    #field_name, total_records, null_count, %_populated
    null_ct = combined_df[column].isnull().sum()
    pop = 1 - (null_ct / num_rows)
    pop = "{:.2%}".format(pop)
    
    results = pd.DataFrame({'FIELD_NAME' : [column], 'TOTAL_POPULATION' : [num_rows], 'NULL_COUNT' : [null_ct], '%_POPULATED' : [pop]})
    results = results[["FIELD_NAME", "TOTAL_POPULATION",  "NULL_COUNT", "%_POPULATED"]]

    if flag == 0:
        final_df = results
        flag = 1
    else:
        final_df = final_df.append(results)
       
final_df.to_excel(writer, "Completeness Testing", index = False)

Step 3: Perform attribute profiling on the numeric fields. Please compute the count, mean, minimum value, 25th percentile value, 50th percentile value, 75th percentile value, maximum value, standard deviation, count of NULL values, and count of negative values for each numeric field (integers and floats). Results should be saved in a single excel file.<br/> <br/>
(Note: You may receive an 'All-NaN axis encountered' warning from python because one of the columns is completely blank. However, the code will still successfully run)

In [32]:
import numpy as np
np.warnings.filterwarnings('ignore')

num_outfile = "numeric_profiling.xlsx"
num_writer = pd.ExcelWriter(num_outfile)
flag = 0
for column in combined_df:
    if combined_df[column].dtype == 'int64' or combined_df[column].dtype == 'float64':
        max_val = np.nanmax(combined_df[column])
        min_val = np.nanmin(combined_df[column])
        mean = np.mean(combined_df[column])
        mean = "%.2f" % mean
        std = np.std(combined_df[column])
        std = "%.2f" % std
        # May want to use .nanpercentile but 300x slower than percentile
        per_25 = np.nanpercentile(combined_df[column], 25)
        per_50 = np.nanpercentile(combined_df[column], 50)
        per_75 = np.nanpercentile(combined_df[column], 75)
        neg_ct = combined_df[column].lt(0).sum()
        null_ct = combined_df[column].isnull().sum()
        
        results = pd.DataFrame({'FIELD_NAME' : [column], "NUM_ROWS" : [num_rows], 'MEAN' : [mean], 'MIN' : [min_val], '25%' : [per_25], '50%' : [per_50], '75%' : [per_75], 'MAX' : [max_val], 'STD' : [std], 'NULL_CT' : [null_ct], 'NEG_CT' : [neg_ct]})
        results = results[["FIELD_NAME", "NUM_ROWS", "MEAN",  "MIN", "25%", "50%", "75%", "MAX", "STD", "NULL_CT", "NEG_CT"]]

        if flag == 0:
            final_df = results
            flag = 1
        else:
            final_df = final_df.append(results)
       
final_df.to_excel(num_writer, "Numeric Profiling", index = False)

Step 4: Perform profiling of categorical attributes. This will be done by computing a count of each unique value in the field. The results of each column should be saved to an individual sheet in an excel.

In [33]:
cat_outfile = "categorical_profiling.xlsx"
cat_writer = pd.ExcelWriter(cat_outfile)
flag = 0
for column in combined_df:
    if combined_df[column].dtype != 'int64' and combined_df[column].dtype != 'float64':
        results = combined_df[column].value_counts(dropna = False)
        final_df = pd.DataFrame({column:results.index, 'Count':results.values})
        final_df = final_df[[column, 'Count']]
        final_df.set_index(column, inplace = True)
        final_df.to_excel(cat_writer, column[:31])

This concludes the lesson on Data Handling. Users have learned the basics of the pandas package in Python and can leverage these skills to begin developing more complicated scripts. To summarize, the following topics were covered:
1. pandas Basics
2. Reading in Data from External Sources
3. Working with pandas Dataframes
4. Summary Statistics and Numeric Functions in pandas

Users also completed a basic data profiling exercise in Python which is a very common exercise performed by EY engagement teams. Python allows us to automate a traditionally manual and labor-intensive process. 

The section below provides links to other helpful resources that can be used to learn more about data handling in Python.

### Other Useful Resources
- [pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Quick pandas Tutorial](https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673)
- [pandas Cheat Sheet](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)